/*Limpar as Formatações Padrão*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "cambria";
	background: #f3f3f3;
}
#navegacao{
	background: #FFF;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
}
#area{
	width: 720px;
	margin: 0 auto;
}
#logo{
	float: left;
}
#menu{
	float: right;
	padding: 10px 0;
}
/*Formatação do Menu*/
a{
	text-decoration: underline;
	padding: 5px 10px;
}
a:link{
	color: #838383;
}
a:visited{
	color: #838383;
}
a:hover{
	background: #b9c941;
	color: #fff;
}
a:active{
	color: #535353;
}
/*Classes*/
.verde{
	color: #b9c941;
}